/* sector universal */
*{
    padding: 0 auto;
    margin: 0 auto;

}

#contenedor{
    width: 1200px;
    height: 1000px;
    background-color: darkcyan;
    max-width: 0 auto;

}

#encabezado{
    height: 15%;
    background-color: bisque;
    margin: 1em auto;

}

#menu{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 5%;
    background-color: aliceblue;
    margin: 1em auto;
    margin-top: 2%;

}

#seccion{
    height: 70%;
    width: 61%;
    background-color: aqua;
    margin: 0.5em;
    float: left;

}

#fueraSeccion{
    height: 70%;
    width: 36%;
    background-color: coral;
    margin: 0.5em;
    float: right;

}

#pie{
    height: 5%;
    background-color: cornflowerblue;
    border-radius: 1em;
    margin: 1.5em;

}

/*Selectpr universal*/
.texto{
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    margin-left: 15px;
    margin-right: 15px;

}

.encabezado_articulo{
    text-align: center;
    background: rgb(133, 179, 182);
    color: black;
    margin: auto 2em;
    margin-top: 3%;

}

.imagen{
    display: block;
    border: 1px solid rgba(95, 79, 79, 0.534);
    margin-left: 4%;
    margin-top: 5%;
    width: 150px;
    margin: auto;

}

/* Selector de etiqueta */

ul{
    text-align: center;
}

li{
    display: inline;
    padding-left: 6px;
    padding-right: 6px;

}